* {
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import './scss/navbar.scss';
@import './scss/admintours.scss';
@import './scss/loader.scss';
@import './scss/messagebox.scss';
@import './scss/adminlayout.scss';
@import './scss/tours.scss';
@import './scss/pagination.scss';
@import './scss/slider.scss';